{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe {% endblock %}

{% block body %}
    {% block content %}
    <div class="container">
        <h1>Modification du mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
    {% endblock %}
{% endblock %}