{% extends 'base.html.twig' %}

{% block title %}Projet Symfony{% endblock %}

{% block body %}

    <div class="mt-80">
        <div class="hero-image">
            <div class="hero-image-inner" style="background-image: url('assets/img/tmp/slider-large-3.jpg');">
                <div class="hero-image-content">
                    <div class="container">
                        <h1>Mon service bien-être</h1>

                        <p>Create your own directory website by using Superlist template <br>
                            incorporating all features of modern directory website.</p>


                    </div><!-- /.container -->
                </div><!-- /.hero-image-content -->

                <div class="hero-image-form-wrapper">
                    <div class="container">
                        <div class="row">


                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.hero-image-form-wrapper -->
            </div><!-- /.hero-image-inner -->
        </div><!-- /.hero-image -->

    </div>
    {% block content %}

        <h2>Bienvenue sur notre site de services...</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in pharetra turpis. Sed maximus massa sit amet venenatis condimentum.
            Vestibulum luctus aliquam diam. Integer turpis magna, vestibulum quis diam at, maximus venenatis orci.
            Fusce viverra nisi ut mauris consequat, sit amet venenatis orci interdum.
            Vivamus bibendum odio eu ante facilisis, eget semper ipsum congue. Duis sit amet risus eget mi gravida ullamcorper.</p>

        <p>Sed quis purus vitae orci vestibulum elementum. Cras ultricies nisi sed leo cursus blandit.
            Integer laoreet quam purus, ac auctor purus porttitor eu. Duis sit amet auctor arcu.
            Pellentesque consectetur est a erat rhoncus, eu placerat quam convallis.
            Nulla eu fermentum ante, in rhoncus nisl. Proin interdum ligula et ex elementum, sed viverra nunc iaculis.
            Nullam varius sapien ex, a malesuada elit finibus vel. Donec tristique erat id dignissim fringilla. Nullam et lectus ipsum.</p>
    {% endblock %}

{% endblock %}
