{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <h2>Détails du service :</h2>
        <h3>{{ service.name }}</h3>
        <hr />
        {% dump(service) %}
        {{ service.description }}
        <h2>Prestataire :</h2>
        <ul>
            {% for provider in service.providers%}
                <a href="{{ path('show_provider',{'id':provider.id}) }}">{{ provider.name }}</a>

            {% endfor %}
        </ul>

    {% endblock %}

{% endblock %}