{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <h2>Détail de l'article:</h2>
        <h2>{{ service.name }}</h2>
        <hr />
        {{ service.description }}

    {% endblock %}

{% endblock %}