{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}


        <h2>Ajout de stage :</h2>

        <hr />
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    {% endblock %}

{% endblock %}